@using Gaswerk.RouteApp.Code
@model Gaswerk.RouteApp.Models.Login

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>Login</h2>
@using (Html.BeginForm())
{
    @Html.MyValidationSummary()
    <label>Id:</label>
    @Html.TextBoxFor(m => m.Id)
    @Html.SubmitButton(ButtonType.Success, "login")
}
