@using Gaswerk.RouteApp.Code
@using Gaswerk.RouteApp.Models
@model Gaswerk.RouteApp.Models.Route
@{
    ViewBag.Title = "Route Bewerten";
    Layout = "~/Views/_Layout.cshtml";
}
<div class="container" id="ajax-form-target-bewertungsliste">
    @Html.Action("GetBewertungListData",
                  new { routeId = Model.Id, pendingBewertung = (Bewertung)null })
</div>
@Html.LinkButton(ButtonType.Info, "Zurück", "GoToHome")